<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Frisk &#187;{{#if title }} {{ title }}{{ else }}Simple Project Status{{/if }}</title>
		
		<link href="/stylesheets/style.css" rel="stylesheet" media="all" />  
		<link href="/stylesheets/jquery-ui-1.8.22.custom/css/cupertino/jquery-ui-1.8.22.custom.css" rel="stylesheet" media="all" />  
		<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery-ui/1.8.21/jquery-ui.min.js"></script>  -->
		<script type="text/javascript" src="/javascripts/vendor/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/jquery-ui-1.8.22.custom.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/jquery.tmpl.min.js"></script>

		<script type="text/javascript" src="/javascripts/plugins/jquery.module.js"></script>
		<!-- HELPERS -->
		<script type="text/javascript" src="/javascripts/modules/helper.util.js"></script>
		<!-- WIDGETS -->
		<script type="text/javascript" src="/javascripts/widgets/frisk.base_widget.js"></script>
		<script type="text/javascript" src="/javascripts/widgets/frisk.state_container.js"></script>
		<script type="text/javascript" src="/javascripts/widgets/frisk.state.js"></script>
		<!-- PLUGINS -->
		<script type="text/javascript" src="/javascripts/plugins/jquery.servicelocator.js"></script>
		<!-- SERVICES -->
		<script type="text/javascript" src="/javascripts/services/service.boards.js"></script>
		<!-- VIEW SPECIFIC -->
		{{#each scripts}}<script type="text/javascript" src="{{ this }}"></script>{{/each }}
		{{#each styles}}<link href="{{this}}" rel="stylesheet" media="all" />{{/each}}

	</head>

	<body>
		{{#htmlEscape body }}{{ this }}{{/htmlEscape }}
	</body>

</html>
